<html>
    <head>
        <title>Intersection Statistics Tool</title>
        <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="common/jquery_fe.js"></script>
        <link href="common/styles.css" rel="stylesheet" />
        <script type="text/javascript">
            var uri = window.location.toString();
            if (uri.indexOf("?") > 0) {
                var clean_uri = uri.substring(0, uri.indexOf("?"));
                window.history.replaceState({}, document.title, clean_uri);
            }
        </script>
    </head>
    <body>
        <form enctype="application/json">
            <h1>Query Filters:</h1>
            <div id="filter">
                <fieldset id="veh_fs">
                    <legend>Vehicle class:</legend>
                    <input type="checkbox" id="v_all">
                    <label for="v_all">All</label>
                    <input type="checkbox" id="pickup" class="vehicle" name="pickup">
                    <label for="pickup">Pickup</label>
                    <input type="checkbox" id="sedan" class="vehicle" name="sedan">
                    <label for="sedan">Sedan</label>
                    <input type="checkbox" id="suv" class="vehicle" name="suv">
                    <label for="suv">SUV</label>
                    <input type="checkbox" id="van" class="vehicle" name="van">
                    <label for="van">Van</label>
                </fieldset>
                <fieldset id="roi_fs">
                    <legend>Entry location:</legend>
                    <input type="checkbox" id="r_all">
                    <label for="r_all">All</label>
                    <input type="checkbox" id="top" class="roi" name="top">
                    <label for="top">Top</label>
                    <input type="checkbox" id="bottom" class="roi" name="bottom">
                    <label for="bottom">Bottom</label>
                    <input type="checkbox" id="left" class="roi" name="left">
                    <label for="left">Left</label>
                    <input type="checkbox" id="right" class="roi" name="right">
                    <label for="right">Right</label>
                </fieldset>
                <label for="start">Start time:
                    <input type="datetime-local" id="start" name="start">
                </label>
                <label for="end">End time:
                    <input type="datetime-local" id="end" name="end">
                </label>
                <button type="submit" id="submit-btn">Search</button>
                <input type="reset" id="reset">
            </div>
        </form>
        <div id="results">
            <div id="count-results"></div>
        </div>
        <button type="button" id="clear">Clear</button>
    </body>
</html>