body{
    background: #0d1521;
    font: 1rem 'Fira Sans', sans-serif;
    color: #989898;
}

div#filter{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 16px;
}

iframe#graph{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset#veh_fs{
    grid-column: 1 / 2;
}

fieldset#roi_fs{
    grid-column: 2 / 3;
}

input#start{
    grid-column: 1 / 2;
    margin: 0 auto;
}

input#end{
    grid-column: 2 / 3;
    margin: 0 auto;
}

button#submit{
    grid-column: 1 / 2;
}

button#reset{
    grid-column: 2 / 3;
}

img#roi_img{
    width: 50%;
    height: width*9/16;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#count-results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2#classes{
    grid-column: 1 / 2;
}

h2#times{
    height: 100%;
}

h2#result{
    height: 100%;
}

legend{
    background-color: #fff;
    color: #000;
    padding: 3px 6px;
}

li{
    display: inline-block;
    letter-spacing: 1px;
}
